/node_modules
/public/bower_components
/public/css
/public/js
/public/mix-manifest.json
/public/hot
/public/storage
/public/bower_components
/.idea
/storage/*.key
/vendor
/public/bower_components
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
